#include "Nine.rh"

// Строки в программе
STRINGTABLE
BEGIN
	IDS_ABOUT "Карточная игра «Девятка»"
	IDS_NEWGAMEWARNING "Игра уже идёт\r\nНачать заново?"
	IDS_WINDOWTITLE "Девятка"
END

// Меню
IDM_MENU MENU
BEGIN
	POPUP "&Игра"
	BEGIN
		MENUITEM "Новая &игра\tCtrl+N", IDM_GAME_NEW
		MENUITEM "&Сетевой режим...", IDM_GAME_NEW_NETWORK
		MENUITEM "&Компьютер", IDM_GAME_NEW_AI
		MENUITEM SEPARATOR
		MENUITEM "В&ыход", IDM_FILE_EXIT
	END
	POPUP "&Справка"
	BEGIN
		MENUITEM "&Вызов справки", IDM_HELP_CONTENTS
		MENUITEM SEPARATOR
		MENUITEM "&О программе", IDM_HELP_ABOUT
	END
END

// Комбинации клавиш
ID_ACCEL ACCELERATORS
BEGIN
	"N", IDM_GAME_NEW, CONTROL, VIRTKEY
	VK_F5, IDM_GAME_NEW, VIRTKEY
END

// Диалог получения параметров соединения с сервером
IDD_DLG_NETWORK DIALOGEX 10,10,285,258
CAPTION "Параметры соединения"
STYLE DS_MODALFRAME| WS_POPUP| WS_VISIBLE| WS_CAPTION| WS_SYSMENU
BEGIN
	CONTROL "&Ник",IDC_STC_NIKC,"Static",0x50000000,9,12,84,15
	CONTROL "Winner1",IDC_EDT_NICK,"Edit",0x50010000,114,9,162,21,0x00000200
	CONTROL "&Сервер",IDC_STC_SERVER,"Static",0x50000000,9,42,84,15
	CONTROL "chat.freenode.net",IDC_EDT_SERVER,"Edit",0x50010000,114,39,162,21,0x00000200
	CONTROL "&Порт",IDC_STC_PORT,"Static",0x50000000,9,72,84,15
	CONTROL "6667",IDC_EDT_PORT,"Edit",0x50010000,114,69,162,21,0x00000200
	CONTROL "&Канал",IDC_STC_CHANNEL,"Static",0x50000000,9,102,84,15
	CONTROL "##freebasic-ru",IDC_EDT_CHANNEL,"Edit",0x50010000,114,99,162,21,0x00000200

	CONTROL "Локальный &адрес",IDC_STC_LOCALADDRESS,"Static",0x50000000,9,132,84,15
	CONTROL "0.0.0.0",IDC_EDT_LOCALADDRESS,"Edit",0x50010000,114,129,162,21,0x00000200
	CONTROL "Локальный пор&т",IDC_STC_LOCALPORT,"Static",0x50000000,9,162,84,15
	CONTROL "0",IDC_EDT_LOCALPORT,"Edit",0x50010000,114,159,162,21,0x00000200
	
	
	// CONTROL "ОК",IDC_BTN_OK,"Button",0x50010000,45,213,81,27
	DEFPUSHBUTTON "OK", IDOK, 49,213,81,27
	CONTROL "Отмена",IDCANCEL,"Button",0x50010000,162,213,81,27
END

// Версия файла
IDR_VERSION VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "FFFF04B0"
		BEGIN
			VALUE "FileVersion", "0.0.0.1\0"
			VALUE "ProductVersion", "0.0.0.1\0"
			VALUE "CompanyName", "Корпораци Сети\0"
			VALUE "FileDescription", "Карточная игра «Девятка»\0"
			VALUE "InternalName", "Девятка\0"
			VALUE "LegalCopyright", "(c) Корпорация Сети. Все права сохранены.\0"
			VALUE "LegalTrademarks", "Корпорация Сети\0"
			VALUE "OriginalFilename", "Девятка\0"
			VALUE "ProductName", "Карточная игра «Девятка»\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0xFFFF, 0x04B0
	END
END

IDR_ICON ICON DISCARDABLE "Nine.ico"

IDR_RT_MANIFEST1 RT_MANIFEST "manifest.xml"