#include "Nine.rh"

// Строки в программе
STRINGTABLE
BEGIN
	IDS_ABOUT "Карточная игра «Девятка»"
	IDS_NEWGAMEWARNING "Игра уже идёт\r\nНачать заново?"
	IDS_WINDOWTITLE "Девятка"
END

// Меню
IDM_MENU MENU
BEGIN
	POPUP "&Игра"
	BEGIN
		MENUITEM "Новая &игра\tCtrl+N", IDM_GAME_NEW
		MENUITEM "&Сетевой режим", IDM_GAME_NEW_NETWORK
		MENUITEM "&Компьютер", IDM_GAME_NEW_AI
		MENUITEM SEPARATOR
		MENUITEM "В&ыход", IDM_FILE_EXIT
	END
	POPUP "&Справка"
	BEGIN
		MENUITEM "&Вызов справки", IDM_HELP_CONTENTS
		MENUITEM SEPARATOR
		MENUITEM "&О программе", IDM_HELP_ABOUT
	END
END

// Комбинации клавиш
ID_ACCEL ACCELERATORS
BEGIN
	"N", IDM_GAME_NEW, CONTROL, VIRTKEY
	VK_F5, IDM_GAME_NEW, VIRTKEY
END


IDR_VERSION VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "FFFF04B0"
		BEGIN
			VALUE "FileVersion", "0.0.0.1\0"
			VALUE "ProductVersion", "0.0.0.1\0"
			VALUE "CompanyName", "Корпораци Сети\0"
			VALUE "FileDescription", "Карточная игра «Девятка»\0"
			VALUE "InternalName", "Девятка\0"
			VALUE "LegalCopyright", "(c) Корпорация Сети. Все права сохранены.\0"
			VALUE "LegalTrademarks", "Корпорация Сети\0"
			VALUE "OriginalFilename", "Девятка\0"
			VALUE "ProductName", "Карточная игра «Девятка»\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0xFFFF, 0x04B0
	END
END

IDR_ICON ICON DISCARDABLE "Nine.ico"
